@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
  }

  .dark {
    --background: 17 24 39;
    --foreground: 255 255 255;
  }
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

/* 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--background));
}

::-webkit-scrollbar-thumb {
  background: rgb(156 163 175);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(107 114 128);
}

.dark ::-webkit-scrollbar-track {
  background: rgb(31 41 55);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(75 85 99);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgb(107 114 128);
}

.prose {
  max-width: 65ch;
  margin: 0 auto;
}

.prose a {
  color: #2563eb;
  text-decoration: underline;
}

.prose a:hover {
  color: #1d4ed8;
} 